{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}
<!-- Content block -->
{% block content %}

    <title> {{ title }} </title>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    <div class="container">
      <div class="col-xs-12">
        <img src="{{company.Logo}}" class="pull-left">
        <div class="table-responsive">
          <table class="table">
          <tr><td></td></tr>
          </table>
        </div>
      </div>
      <div class="col-md-6 col-xs-12">
        {% if chartdata %}
        {{chartdata|safe}}
        {% else %}
        <h1>No data available</h1>
        {% endif %}
      </div>
      <div class="col-md-6 col-xs-12">
        {{ wtf.quick_form(form) }}
      </div>
    </div>

{% endblock %}
