{% extends 'base.html' %}

<!-- Content block -->
{% block content %}

    <title> {{ title }} </title>

    <div class="container">

        <h2 id="head">MyShares</h2>
        <div class="row">
          <div class="col-md-4">
            <p>In order to build your wealth, you will want to invest your money.
              Investing allows you to put your money in vehicles that have the potential to earn strong rates of return.
                If you don’t invest, you are missing out on opportunities to increase your financial worth.
                Of course, you have the potential to lose your money in investments, but if you invest wisely, the potential to gain money is higher than if you never invest.</p>
                <img src="{{ url_for('static',filename = 'Images/investment_idea.jpg') }}"width="390" height="390">

          </div>
          <div class="col-md-2">
             <p>We at MyShares are here to help go through this amzing journey with ease .Register with us  Nowand have us secure a future for you</p>
          </div>
          <div class="col-md-2">
             <p>We at MyShares are here to help go through this amzing journey with ease .Register with us  Nowand have us secure a future for you</p>
          </div>
          <div class="col-md-2">
             <p>We at MyShares are here to help go through this amzing journey with ease .Register with us  Nowand have us secure a future for you</p>
          </div>
          <div class="col-md-2">
             <p>We at MyShares are here to help go through this amzing journey with ease .Register with us  Nowand have us secure a future for you</p>
          </div>

        </div>

    </div>

{% endblock %}
