<!-- navbar block -->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/"><strong>MyShares</strong></a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/"><b>Home</b></a></li>
      <li><a href="/"><b>Dashboard</b></a></li>
      <li><a href="/about"><b>About</b></a></li>
      <li><a href="https://kenyanwallstreet.com/"><b>Investment News</b></a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/auth/register"><span class="glyphicon glyphicon-user"></span>Register</a></li>
      <li><a href="/auth/login"><span class="glyphicon glyphicon-log-in"></span>Login</a></li>
    </ul>
  </div>
</nav>
